:root {
    --bg-color-light: #eff2f6;
    --bg-color-dark: #2d3033;
    --bg-color-red: linear-gradient(135deg, #eeb64e, #d65a07);
    --bg-color-blue: linear-gradient(135deg, #1441c4, #0f1325);
    --box-shadow-light: 0px 5px 5px rgba(0, 0, 0, 0.5);
    --box-shadow-dark: 0px 5px 5px rgb(95, 99, 101);
    --shadow-active-light: 0px 5px 5px rgba(0, 0, 0, 0.2);
    --shadow-active-dark: 0px 5px 5px rgb(95, 99, 101, 0.3);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color-light);
    color: #6a737c;
}

.dark-mode {
    background-color: var(--bg-color-dark);
}

.header {
    display: block;
    padding: 35px;
    margin: 5px;
    border-bottom: 5px solid #6a737c;
}
#blog-header {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow-light);
    background: var(--bg-color-red);
}

#blog-header.dark-mode {
    background: var(--bg-color-blue);
    box-shadow: var(--box-shadow-dark);
}

#back {
    color:#e6dbdb;
    position: absolute;
    top: 10px;
    right: 75px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: var(--box-shadow-light);
    background: #6a737c;
}

#back:active {
    box-shadow: var(--shadow-active-light);
}

#back.dark-mode {
    box-shadow: var(--box-shadow-dark);
}

#back.dark-mode:active {
    box-shadow: var(--shadow-active-dark);
}


.toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: var(--box-shadow-light);
    background: #6a737c;
}

.toggle:active {
    box-shadow: var(--shadow-active-light);
}

.toggle.dark-mode {
    box-shadow: var(--box-shadow-dark);
}

.toggle.dark-mode:active {
    box-shadow: var(--shadow-active-dark);
}

.post-container {
    padding: 5px;
    margin: 5px;
    height: 100vh;
    width: auto;
    border-top: 5px solid #6a737c;
    border-bottom: 5px solid #6a737c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}