body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #eff2f6;
    color: #6a737c;
}

.header {
    display: block;
    padding: 30px;
    margin: 5px;
    border-bottom: 5px solid #2d2929;
}

.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle::before { 
    content:"☀️";
    height: 10px;
    width: 10px;
    display: inline-block;
}

.toggle::after {
    content:"🌘";
    height: 10px;
    width: 10px;
    display: inline-block;
}

.container-l {
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    height: 100vh;
    width: 49%;
    float: left;
    border-top: 5px solid #2d2929;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-r {
    padding: 40px;
    margin-top: 5px;
    margin-right: 5px;
    height: 100vh;
    width: 49%;
    float: right;
    border-top: 5px solid #2d2929;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background: linear-gradient(135deg, #f2a008, #f01414);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #3e4b56;
}

.title h1 {
    font-size: 50px;
}

.blog-card {
    background: linear-gradient(135deg, #f2a008, #f01414);
    border-radius: 5px;
    padding: 10px;
    height: 85%;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #3e4b56;
}

.card-header {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-box {
    height: 75%;
    width: 85%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}