body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #cbd3db;
}

.header {
    display: block;
    padding: 50px;
    margin: 5px;
    border-bottom: 2px solid #2d2929;
}

.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle::before { 
    content:"☀️";
    height: 10px;
    width: 10px;
    display: inline-block;
}

.toggle::after {
    content:"🌘";
    height: 10px;
    width: 10px;
    display: inline-block;
}

.container-l {
    height: 100vh;
    width: 50%;
    float: left;
    border-right: 2px solid #2d2929;
    border-top: 2px solid #2d2929;
}

.container-r {
    padding: 5px;
    margin: 5px;
    height: 100vh;
    width: ;
    float: right;
    border-left: 2px solid #2d2929;
    border-top: 2px solid #2d2929;
}

.title {
    background:linear-gradient(135deg, orange, red);
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}